<div class="contact-container ">

  <div class="row">
    <div class="col-sm-12">
      <h3 class="mt-5 text-center" >Contact Us!</h3>
    </div>
  </div>

  <br /><br />
  <div class="row mt-5" style="padding-left: 25%;" >

    <div class="location col-sm-6">
      <div class="row">
        <div class="col-sm-12">
          <h1><i class="bi bi-house"></i></h1>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <ul class="list-group">
            <li class="list-group-item border-0">245 Alamo Rd.</li>
            <li class="list-group-item border-0">Dallas, Texas 77481</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="col-sm-6">
        <div class="row location">
          <div class="col-sm-12">
            <h1><i class="bi bi-telephone"></i></h1>
          </div>
        </div>

        <div class="row location">
          <div class="col-sm-12">
            <ul class="list-group">
              <li class="list-group-item border-0">Phone: 817-884-0043</li>
              <li class="list-group-item border-0">Fax: 555-555-5555</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--
<div class="contact-container">

  <div class="row">
    <div class="col-sm-12 text-center mt-4">
      <h2>Contact Us</h2>
      <p>If you have an questions or concerns please feel free to reach out!</p>
    </div>
  </div>

  <br /><br />

  <div class="row">

    <div class="col-sm-6">
      <div class="row location">
        <div class="col-sm-12">
          <h1><i class="bi bi-house"></i></h1>
        </div>
      </div>
    </div>

    <div class="row location">
      <div class="col-sm-12">
        <ul class="list-group">
          <li class="list-group-item">267 Adams Rd.</li>
          <li class="list-group-item">Atlanta, GA 30033</li>
        </ul>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="col-sm-6">
        <div class="row location">
          <div class="col-sm-12">
            <h1><i class="bi bi-telephone"></i></h1>
          </div>
        </div>

        <div class="row location">
          <div class="col-sm-12">
            <ul class="list-group">
              <li class="list-group-item border-0">Phone: 817-884-0043</li>
              <li class="list-group-item border-0">Fax: 555-555-5555</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
-->
