<!--
============================================
; Title: contact.component.html
; Author: John Davidson
; Data: 16 December 2023
; Description: Contact page
============================================
-->

<div class="contact-container mt-5 bg-ravenclaw-silver">

  <div class="row">
    <div class="col-sm-12">
      <h3 class="mt-5 text-center ravenclaw-brown" >Contact Us!</h3>
    </div>
  </div>

  <br /><br />
  <div class="row mt-5" style="padding-left: 25%;">

    <div class="location col-sm-6">
      <div class="row">
        <div class="col-sm-12">
          <h1><i class="bi bi-house home"></i></h1>
        </div>
      </div>

      <div class="row home-row bg-ravenclaw-silver">
        <div class="col-sm-12 bg-ravenclaw-silver yo">
          <ul class="list-group">
            <li class="list-group-item border-0 bg-ravenclaw-silver">245 Azle Road</li>
            <li class="list-group-item border-0 bg-ravenclaw-silver">Omaha, Nebraska 68007</li>
          </ul>
        </div>
      </div>
    </div>


    <div class="col-sm-6">
      <div class="col-sm-6">
        <div class="row location">
          <div class="col-sm-12">
            <h1><i class="bi bi-telephone phone"></i></h1>
          </div>
        </div>

        <div class="row location">
          <div class="col-sm-12">
            <ul class="list-group">
              <li class="list-group-item border-0 bg-ravenclaw-silver">Phone: 817-884-0043</li>
              <li class="list-group-item border-0 bg-ravenclaw-silver">Fax: 555-555-5555</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


