/*
============================================
; Title: contact.component.css
; Author: John Davidson
; Date: 16 December 2023
; Description: The styling for contact page.
============================================
*/

.contact-container {
  border: 2px solid #946b2d;
  border-radius: 10px;
  margin: auto;
  width: 55%;
  height: 500px;
}

.row {
  margin: auto 0;
}

.list-group {
  width: 100%;
}

li {
  width: 130%;
}

.home {
  margin-left: 65px;
}

.phone {
  margin-left: 65px;
}



