<!--
============================================
; Title: about.component.html
; Author: John Davidson
; Data: 16 December 2023
; Description: About page
============================================
-->

<div class="container bg-ravenclaw-silver mt-5">
  <h2 class="text-center mt-4 mb-5 ravenclaw-brown">About Us!</h2>
  <br />

  <div class="row bio-container">
    <div class="col-sm-4">
      <img src="../../assets/about-img.jpg">
    </div>

    <div class="col-sm-8">
      <p class="bio"> Hello! We are a group of fun-loving developers that live to create free and accessible websites for people to take advantage of. We started out
        making simple free-to-play indie games and recently started branching out to build fun and cool apps like this loan calculator. The four of us, Dwayne, Dimitri,
        Clara, and Josh are all nested in the Omaha, Nebraska, where we come together a few days out of the week to work on new projects together. We all have our own
        full time jobs, but we just love to get together and create new features for anyone to enjoy! Some people like to play video games, read books, or watch sports.
        We LOVE to create new things on the internet. <br /><br />This loan calculator in particular is one we were really excited to release as we all know it can be stressful taking
        on new loans. We, like many others, have experienced excruciatingly poor designed loan calculators. This isn't rocket science, people. Let's get real here! How hard
        can it be to deliver a simple loan calculator! This one in particular is straightforward with no unnecessary input fields or buttons. We wanted to keep things
        simple for you all as we know how extra it can be to deal with non-friendly UIs that are far too overcomplicated. We hope you will love this new app as much as
        we loved spending time building it. If you want to experience more of our content, stay tuned as we will be releasing new applications at the start of each
        week beginning in 2024. Cheers!
      </p>

    </div>
  </div>

</div>
