/*
============================================
; Title: home.component.css
; Author: John Davidson
; Date: 16 December 2023
; Description: The styling for Home page.
============================================
*/


.custom-card {
  margin: auto;
  width: 80%;
  border: 2px solid #946b2d;
  border-radius: 10px;
}

.inputSize {
  width: 65%;
}

button {
  margin: 20px 0px 20px 30px;
  width: 50%;
}

.result {
  font-size: 48px;
  color: white;
}



