<!--
============================================
; Title: app.component.html
; Author: John Davidson
; Data: 16 December 2023
; Description: HTML for the base page.
============================================
-->

<nav class="navbar navbar-expand-sm navbar-dark bg-ravenclaw-blue">
  <i class="bi bi-calculator fs-3 text-white"></i>
  <ul class="navbar-nav m-auto">
    <li class="navbar-item active">
      <a class="nav-link" routerLink="/home">Home</a>
    </li>
    <li class="navbar-item">
      <a class="nav-link" routerLink="/about">About</a>
    </li>
    <li class="navbar-item">
      <a class="nav-link" routerLink="/contact">Contact</a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
